@import url(../../css/reset.css);
@import url(../../css/root.css);

@import url(../css/components/cms-button.css);
@import url(../css/components/background-pizza.css);

body {
  background: #121212;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 1.5rem 3rem;
}

body * {
  font-family: 'Inter', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid #aaa;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.admin-profile {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aaaaaa;
  border-radius: 50%;
  width: 4.75rem;
  height: 4.75rem;
  padding: 0.25rem;
  overflow: hidden;
}

.profile-photo img {
  width: 100%;
  height: auto;
}

.admin-name {
  color: #fff;
  font-weight: 200;
  font-size: 2.25rem;
}

.profile-photo,
.admin-name {
  cursor: pointer;
}

main,
.products-table {
  width: 100%;
  height: 100%;
}

.products-table {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  
}

.column-names,
.product-column {
  height: 100px;
}

.product-table,
.product-table tr,
.product-table tr th,
.product-table tr td {
  border: 1px solid #d9d9d9;
  border-collapse: collapse;
}

.product-img {
  width: 175px;
  height: 100px;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.5);
}
