.menu-burger {
  background-color: #fff;
  width: 3rem;
  height: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
}

.menu-burger::after,
.menu-burger::before {
  content: '';
  display: block;
  background-color: #fff;
  width: 3rem;
  height: 0.5rem;
  position: absolute;
}

.menu-burger::after {
  margin-top: 1rem;
}

.menu-burger::before {
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

header nav .nav-item {
  color: var(--white-500);
  font-size: 1.5rem;
}

header nav .nav-item::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: var(--yellow-500);
  transition: 400ms all ease-in-out;
}

header nav .nav-item:hover::after {
  width: 100%;
}

header nav .active {
  color: var(--yellow-500);
}

header nav .active::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--yellow-500);
}

@media (max-width: 768px) {
  header nav .nav-item {
    display: none;
  }
  .menu-burger {
    display: block;
    position: fixed;
  }
}
