@import url(../components/card-product.css);

#main-content {
  padding: 1.5rem 3rem;
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
}

.discount-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 10px;
}

.discount-container::-webkit-scrollbar {
  background-color: #000;
  border-radius: 15px;
}

.discount-container::-webkit-scrollbar-thumb {
  background-color: var(--yellow-500);
  border-radius: 15px;
  width: 2px;
}

.discount-items-container {
  margin-top: 12px;
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}

.products-nav {
  display: flex;
  justify-content: space-between;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
  width: 40%;
}

.search-icon {
  color: var(--white-500);
  font-size: 3rem;
}

#product-search {
  background: none;
  border-bottom: 1px solid var(--white-500);
  color: var(--white-500);
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 200;
  width: 100%;
}

#product-search::placeholder {
  font-style: italic;
  font-weight: 200;
  font-family: "Inter", sans-serif;
}

.products-types-container {
  margin: 26px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.product-type {
  background-color: var(--orange-500);
  width: 400px;
  height: 250px;
  color: var(--white-500);
  font-size: 4rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.product-type:hover {
  filter: brightness(80%);
}

.selected {
  background-color: var(--yellow-500);
}

.type-infos {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  background: red;
  gap: 100%;
}

.product-type-title {
  font-size: 3rem;
  font-style: italic;
  color: white;
}

#product-filter {
  font-size: 2rem;
  font-weight: 200;
  font-family: 'Inter', sans-serif;
  border-radius: 64px;
  padding: 12px 24px;
}
