@import url(../components/card-product.css);

#main-content {
  padding: 1.5rem 3rem;
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
}

.discount-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

