@import url(../components/card-product.css);

#main-content {
  padding: 1.5rem 3rem;
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
}

.discount-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: scroll;
}

.discount-items-container {
  margin-top: 12px;
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}

.products-nav {
  display: flex;
  justify-content: space-between;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
  width: 40%;
}

.search-icon {
  color: var(--white-500);
  font-size: 3rem;
}

#product-search {
  background: none;
  border-bottom: 1px solid var(--white-500);
  color: var(--white-500);
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 200;
  width: 100%;
}

#product-search::placeholder {
  font-style: italic;
  font-weight: 200;
  font-family: "Inter", sans-serif;
}
